//header specific styles
@import '../abstracts/mixins';

.header {
    height: 60vh;
}

.text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.heading-primary {
    color: #000000;
    text-transform: uppercase;
    /*the below code removes the jump caused by animatimon. it is a hack*/
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1rem;
    
    @include moveInLeft;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    text-align: center;
    animation: moveInRight 2s ease-out;
    
    @include moveInRight;
}