//navigation specific styles

nav {
    img {
       max-width: 90px; 
    }

    a {
        font-size: 14px;

        &:active {
            color: $white;
        }
    }
}

ul li.nav-item {
    margin: 0 10px;
}

.navbar-nav {
    z-index: 10;
    position: relative;

    @media screen and (max-width: 991.98px){
    	.nav-item:first-child {
            margin-top: 30px;
	    }
    }
}