/* abstracts */
/* vendors */
/* base */
/* type declarations */
/* ELEMENT STYLING */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "lato", sans-serif;
  color: #ffffff;
}

.headline-1 {
  font-size: 1rem;
}

.headline-2 {
  font-size: 1.5rem;
}

.headline-3 {
  font-size: 2rem;
}

.headline-4 {
  font-size: 2.5rem;
}

.headline-5 {
  font-size: 3rem;
}

a {
  font-family: "open sans", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 0 10px white;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #fdfdfd;
  font-size: 14px;
  line-height: 3.5rem;
  letter-spacing: 0.52px;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-moz-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-o-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-moz-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-o-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* layout */
#aboutus-div p img {
  max-width: 45%;
  float: left;
  padding: 12px 15px 0 0;
}

.footer {
  height: 150px;
  width: 100%;
  padding: 10px 10%;
  position: relative;
  font-size: 1.6rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.footer-icons {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-icons img {
  width: 40px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .footer-icons img {
    width: 35px;
  }
}

.header {
  height: 60vh;
}

.text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.heading-primary {
  color: #000000;
  text-transform: uppercase;
  /*the below code removes the jump caused by animatimon. it is a hack*/
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1rem;
  -webkit-animation: moveInLeft 2s 1 normal ease-out;
  -moz-animation: moveInLeft 2s 1 normal ease-out;
  -o-animation: moveInLeft 2s 1 normal ease-out;
  animation: moveInLeft 2s 1 normal ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-align: center;
  animation: moveInRight 2s ease-out;
  -webkit-animation: moveInRight 2s 1 normal ease-out;
  -moz-animation: moveInRight 2s 1 normal ease-out;
  -o-animation: moveInRight 2s 1 normal ease-out;
  animation: moveInRight 2s 1 normal ease-out;
}

#mission-div p img {
  float: right;
  max-width: 45%;
  padding: 12px 0 0 15px;
}

nav img {
  max-width: 90px;
}
nav a {
  font-size: 14px;
}
nav a:active {
  color: #ffffff;
}

ul li.nav-item {
  margin: 0 10px;
}

.navbar-nav {
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 991.98px) {
  .navbar-nav .nav-item:first-child {
    margin-top: 30px;
  }
}

/* components */
.header-line {
  width: 95px;
  display: block;
  margin: 0 auto;
  padding-top: 65px;
}
@media screen and (max-width: 768px) {
  .header-line {
    width: 65px;
    display: block;
    margin: 0 auto;
    padding-top: 65px;
  }
}

/* pages */
/* themes */
.bg-dark {
  background-color: #333333 !important;
}

.bg-darker {
  background-color: #282828;
}

.bg-darkest {
  background-color: #181818;
}

.bg-black {
  background-color: #000000;
}

/*# sourceMappingURL=main.css.map */
