//Typography rules

/* type declarations */



/* ELEMENT STYLING */
html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "lato", sans-serif;
    color: #ffffff;
}

.headline-1 {
    font-size: 1rem;
}

.headline-2 {
    font-size: 1.5rem;
}

.headline-3 {
    font-size: 2rem;
}

.headline-4 {
    font-size: 2.5rem;
}

.headline-5 {
    font-size: 3rem;
}

a {
    font-family: 'open sans', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #fdfdfd;
    font-size: 14px;
    line-height: 3.5rem;
    letter-spacing: 0.52px;
}

.text-black {
    color: #000000;
}

.text-white {
    color: #ffffff;
}