/*font setup*/
html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "lato", sans-serif;
    color: #ffffff;
}

.headline-1 {
    font-size: 1rem;
}

.headline-2 {
    font-size: 1.5rem;
}

.headline-3 {
    font-size: 2rem;
}

.headline-4 {
    font-size: 2.5rem;
}

.headline-5 {
    font-size: 3rem;
}

a {
    font-family: 'open sans', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #fdfdfd;
    font-size: 14px;
    line-height: 3.5rem;
    letter-spacing: 0.52px;
}

/*navigation*/
nav img {
    max-width: 90px;
}

nav a {
    font-size: 14px;
}

nav a:active {
    color: #dfdfdf;
}

ul li.nav-item {
    margin: 0 10px;
}

.navbar-nav {
    z-index: 10;
    position: relative;
}

/*art elements*/
.header-line {
    width: 95px;
    display: block;
    margin: 0 auto;
    padding-top: 65px;
}

/*backgrounds*/
.bg-dark {
    background-color: #333333 !important;
}

.bg-darker {
    background-color: #282828;
}

.bg-darkest {
    background-color: #181818;
}

.bg-black {
    background-color: #000000;
}

.text-black {
    color: #000000;
}

.text-white {
    color: #ffffff;
}

.navbar-brand {
    font-size: 2rem;
    color: white;
}

.nav-link {
    color: white;
}

.dropdown-item {
    font-size: 1.35rem;
}

.header {
    height: 60vh;
}

.text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.heading-primary {
    color: #000000;
    text-transform: uppercase;
    /*the below code removes the jump caused by animatimon. it is a hack*/
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveInLeft 2s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    text-align: center;
    animation: moveInRight 2s ease-out
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-90px)
    }

    70% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(90px)
    }

    70% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

/*about us*/
#aboutus-div p img {
    max-width: 45%;
    float: left;
    padding: 12px 15px 0 0;
}

/*mission*/
#mission-div p img {
    float: right;
    max-width: 45%;
    padding: 12px 0 0 15px;
}
/*events section*/
.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
}

.event-header-line {
    width: 50px;
    margin-top: 65px;
}

.header-text {
    margin-top: 40px;
    color: #333333;
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.date-text {
    font-size: 35px;
    font-family: Arial;
    color: black;
    border-bottom: solid #333333
}

.location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.location-list {
    font-size: 25px;
    font-family: Arial;
    color: black;
    text-align: center;
    list-style-type: none;
}

.location-list li {
    margin: 10px;
}

.location-maps {
    float: left;
    width: 50%;
    padding-right: 15px;
}

.location-maps img {
    width: 500px;
    height: 250px;
}

.last-date-container {
    margin-bottom: 100px;
}

/************************************
CONTACT SECTION
************************************/
input[type=text] {
    border: none;
    resize: vertical;
}

textarea {
    height: 300px;
    width: 900px;
    border: 2px solid #333333;
    resize: none;
    margin-bottom: 10px;
    resize: none;
}

.contact-container {
    width: 100%;

    padding-bottom: 65px;

}

.headerline {
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-bottom: 20px;
}

.btn {
    display: inline-block;

    border: none;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 240px;
    height: 80px;
    margin-bottom: 40px;
    float: right;
}

.btn:hover {
    background-color: green;
}

/************************************
FOOTER SECTION
************************************/
.footer {
    height: 150px;
    width: 100%;
    padding: 10px 10%;
    position: relative;
    font-size: 1.6rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.footer-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    list-style-type: none;
}

.footer-list a {
    color: white;
}

.footer-list a:hover, a:active {
    color: black;
}

.footer-icons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-icons img {
    width: 40px;
    border-radius: 50%;
}

.fab {
    padding-right: 20px;
    font-size: 1.7rem;
    color: white;
    transition: .3s;
}

.fab:hover {
    color: black;
    animation: .2s;
    cursor: pointer;
}

@media screen and (max-width: 991.98px) {

    a.nav-link {
        text-transform: uppercase;
        margin: 10px 0;
    }

    .navbar-nav .nav-item:first-child {
        margin-top: 30px;
    }

    .location-container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .location-maps {
        width: 90%;
        height: auto;
        margin-left: 0px;
    }

    .location-maps img {
        width: 90%;
        height: auto;
    }

    .contact-form, .contact-form-underline, input[type=text], textarea {
        width: 100%;
        margin-top: 0;
    }

}

/* Medium devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .header-line {
        width: 65px;
        display: block;
        margin: 0 auto;
        padding-top: 65px;
    }

    #goals-inner-div {
        padding-top: 50px;
    }

    .footer-list {
        padding-left: 5%;
    }

    .footer img {
        width: 35px;
    }
}

@media only screen and (max-width: 576px) {

    #goals-inner-div div {
        height: 900px;
    }

}

@media only screen and (max-width: 499px) {
    #goals-inner-div div {
        height: 1000px;
    }
}

@media only screen and (max-width: 430px) {
    #goals-inner-div div {
        height: 1250px;
    }
}

