//default theme styles
.bg-dark {
    background-color: #333333 !important;
}

.bg-darker {
    background-color: #282828;
}

.bg-darkest {
    background-color: #181818;
}

.bg-black {
    background-color: #000000;
}