//default theme styles
.bg-dark {
    background-color: $dark !important;
}

.bg-darker {
    background-color: $darker;
}

.bg-darkest {
    background-color: $darkest;
}

.bg-black {
    background-color: $black;
}