//Sass Mixins

/* animations */
@mixin keyframes($animationName){
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

@mixin animate($name, $duration, $iteration, $direction, $timing-function){
	// animation-name: $name;
	// animation-duration: $duration;
	// animation-iteration-count: $iteration;
	// animation-direction: $direction;
	// animation-timing-function: $timing-function;
	-webkit-animation: $name $duration $iteration $direction $timing-function;
	-moz-animation: $name $duration $iteration $direction $timing-function;
	-o-animation: $name $duration $iteration $direction $timing-function;
	animation: $name $duration $iteration $direction $timing-function;
	// animation: $name 2s ease-out;
}

@include keyframes(moveInLeft) {
	0% {
		opacity: 0;
		transform: translateX(-90px);
	}
	70%{
		transform: translateX(10px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@include keyframes(moveInRight) {
	0% {
		opacity: 0;
		transform: translateX(90px);
	}
	70%{
		transform: translateX(-10px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@mixin moveInLeft {
	@include animate(moveInLeft, 2s, 1, normal, ease-out);
}

@mixin moveInRight {
	@include animate(moveInRight, 2s, 1, normal, ease-out);
}